body
{
    border: 0;
    margin: 0;
    background-color:rgb(186, 187, 190);
}
#intake_wrapper
{
    border: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
    min-height: 300px;
}
#intake_wrapper .intake_item
{
    border: 0;
    margin: 0;
    width: 50%;
    min-width: 50%;
    min-height: 50px;
    height: 100%;
    float:left;
}
#intake_detail_wrapper
{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 10px;
}